-r requirements-lint.txt
Cython>=3.0.0
cmake>=3.26
cffi
cloudpickle
docutils
dtlib
einops
ml_dtypes
numpy>=1.23.5
packaging>=21.0
psutil
PyYAML
requests
scipy
setuptools
tabulate
tornado
tqdm>=4.62.3
typing_extensions>=4.10.0
wheel
cpplint
pytest>=6.2.4
pytest-durations
pytest-timeout
pytest_xdist>=2.2.1
--index-url https://download.pytorch.org/whl/cpu
--extra-index-url https://pypi.org/simple
torch
